body {
    background-color: black;
    color: #DDDDDD;
}

td {
    text-align: center;
}

/*
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input {
    display: inline-block;
    float: left;
}
*/

form p label {
	display:block;
	float:left;
	width:100px;
}

/*
.remove-button {
    border-radius: 28px;
    color: #ffffff;
    background: #bbbbbb;
    text-decoration: none;
}
*/
